<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112636717363-vgenk6dneee7rlle5c199aql27ajo1ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112636717363-vgenk6dneee7rlle5c199aql27ajo1ao</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>112636717363-sti9s99qikohg1u2j5ftqvitd2eh9etb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCH4r-oofMN_jp92xpNAsOL1DGqdd4Wk4s</string>
	<key>GCM_SENDER_ID</key>
	<string>112636717363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.eburon.beatriceos</string>
	<key>PROJECT_ID</key>
	<string>beatrice-os</string>
	<key>STORAGE_BUCKET</key>
	<string>beatrice-os.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112636717363:ios:4cf3c085e26e4573b93646</string>
	<key>DATABASE_URL</key>
	<string>https://beatrice-os-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>